* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.8ms;
  scroll-behavior: smooth;
}
.menubar {
  background-color: rgba(121, 113, 113, 0.493);
  color: white;
  display: flex;
  justify-content: space-between;
}
.logo img {
  margin-left: 20px;
  width: 40%;
}
.menu-items {
  display: flex;
  align-items: center;
  margin-right: 120px;
}
.menu-items li {
  list-style: none;
  padding: 15px;
  font-size: 16px;
}

/**end**/
.home-container {
  background-color: rgba(179, 173, 173, 0.623);
  width: 100%;
  height: 87vh;
  color: rgb(77, 70, 70);
  margin: 0px auto;
}
.home-image {
  text-align: end;
}

.home-image img {
  margin-top: 40px;
  width: 75%;
}
.home {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.left-side-content {
  padding: 0 30px;
}
.left-side-content .animated-text,
h1,
.description,
.learn-btn {
  margin-bottom: 30px;
}
.learn-btn {
  width: 20%;
  padding: 15px;
}
svg{

  font-weight:bold; 
  max-width:500px;
}
.home h1{
  font-size: 50px;
  width: 80%;
}
.home p{
  width: 80%;
}
.learn-btn:hover{
  background-color: rgb(127, 251, 255);

}
.menu-items {
  display: flex;
  margin-right: 150px;
}

/**end**/
