* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.8ms;
  scroll-behavior: smooth;
}
.menubar {
  background-color: rgba(121, 113, 113, 0.493);
  color: white;
  display: flex;
  justify-content: space-between;
}
.logo img {
  margin-left: 20px;
  width: 40%;
}
.menu-items {
  display: flex;
  align-items: center;
  margin-right: 120px;
}
.menu-items li {
  list-style: none;
  padding: 15px;
  font-size: 16px;
}

/**end**/
.home-container {
  background-color: rgba(179, 173, 173, 0.623);
  width: 100%;
  height: 87vh;
  color: rgb(77, 70, 70);
  margin: 0px auto;
}
.home-image {
  text-align: end;
}

.home-image img {
  margin-top: 40px;
  width: 75%;
}
.home {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.left-side-content {
  padding: 0 30px;
}
.left-side-content .animated-text,
h1,
.description,
.learn-btn {
  margin-bottom: 30px;
}
.learn-btn {
  width: 20%;
  padding: 15px;
}
svg{

  font-weight:bold; 
  max-width:500px;
}
.home h1{
  font-size: 50px;
  width: 80%;
}
.home p{
  width: 80%;
}
.learn-btn:hover{
  background-color: rgb(127, 251, 255);

}
.menu-items {
  display: flex;
  margin-right: 150px;
}

/**end**/

.about-us{
  background-color: rgba(179, 173, 173, 0.623);
}
.about-container{
width: 90%;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
padding: 24px 0;

}
.about-us-heading{
  text-align: center;
  font-weight: bold;
}
.about-us-heading h2{
font-size: 30px;
margin-bottom: 10px;
}
.about-us-article{
  display: flex;
  align-items: center;
}

.about-us-details{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
}
.au-details-block{
  border-left: 5px solid rgb(72, 72, 177);
  padding: 10px;
  width: 80%;
  
}
.au-details-block h4{
 font-weight: bold;

}
.au-details-block h4, p{
margin-bottom: 15px;
}


.au-button{
  text-decoration: none;
  padding: 15px;
  width: 35%;
  border-radius: 4%;
  background-color: #fff;
  text-align: center;
  color: black;
}
.au-button:hover{
  background-color: rgb(127, 251, 255);
 
}
.about-us-img img{
  width: 100%;
}
/**end**/
.service-section{
  background-color: rgba(77, 38, 38, 0.418);

  
}
.service-container{
  width: 90%;
  margin: auto;

}
.service-heading{
  text-align: center;
}















































